@using Ordering_App.Models.Domain
@model IEnumerable<Employee>

<div class="container-fluid" style="background-color: rgb(241, 234, 234);border-radius: 0.6rem;">
	<div class="row">
		<div class="col-12 mt-3">
			<a class="btn btn-info" href="/Employee/AddEmployee">
			 <i class="bi bi-person-fill-add text-secondary"></i> Add New Employee
			</a>
		</div>
	</div>
	<!--Filters section-->
	<div class="row">
		<div class="col-12 mt-3">
			<form asp-action="Employees" asp-controller="Employee" method="get">
				<!--Balance and LastDepositMonth Filters-->
				<div class="row g-1 mb-3">
					<!--Balance From-->
					<div class="col-6 col-sm-4 col-md-3 col-lg-2">
						<label class="form-label">Balance from:</label>
						<input type="number" class="form-control" style="width: 6rem" name="minBalance"
							value="@ViewBag.MinBalance" />
					</div>
					<!--Balance To-->
					<div class="col-6 col-sm-4 col-md-3 col-lg-2">
						<label class="form-label">Balance to:</label>
						<input type="number" class="form-control" style="width: 7rem" name="maxBalance"
							value="@ViewBag.MaxBalance" />
					</div>
					<!-- LastDepositMonth-->
					<div class="col-6 col-sm-6 col-md-3 col-lg-2 d-flex flex-column">
						<label class="form-label">Last Deposit Month</label>
						<input type="month" class="form-control" style="width: 10.5rem"
							value="@ViewBag.LastDepositMonth" name="lastDepositMonth" />
					</div>
					<!--Action Buttons-->
					<div class="col-12 col-md-6 col-lg-6">
						<label class="form-label d-done d-md-block">&nbsp;</label>
						<div class="d-flex flex-wrap gap-1">
							<button class="btn btn-primary" type="submit">
								<i class="bi bi-send-check-fill text-dark"></i> Apply filters
							</button>
							<a href="/Employee/Employees" class="btn btn-info" type="button">
								<i class="bi bi-arrow-clockwise text-success"></i> Reset filters
							</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Total Employees Found: @ViewBag.TotalCount</th>
				</tr>
				<tr>
					<th>Name</th>
					<th>Balance (R)</th>
					<th>Last Deposit Month</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var user in Model)
				{
					<tr>
						<td>@user.Name</td>
						<td>@user.Balance</td>
						<td>@user.LastDepositMonth</td>
						<td>
							<div class="hover-btn">
								<a class="btn" asp-action="Deposit" asp-controller="Employee" 
								asp-route-id="@user.Id">
								<i class="bi bi-info-circle text-info"></i>
								</a>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="row mt-3">
		<div class="col-12 d-flex justify-content-center">
			<nav aria-label="Page navigation"></nav>
			<ul class="pagination justify-content-center">
				<li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
					<a class="page-link" asp-action="Employees" asp-route-pageNumber="@(ViewBag.CurrentPage - 1)"
						asp-route-minBalance="@ViewBag.MinBalance" asp-route-maxBalance="@ViewBag.MaxBalance"
					   asp-route-lastDepositMonth="@ViewBag.LastDepositMonth"
						style="width:5rem;">Previous</a>
				</li>

				@for (int i = 1; i <= ViewBag.TotalPages; i++)
				{
					<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
						@if (i <= 2)
						{
							<a class="page-link" asp-action="Employees" asp-route-pageNumber="@i"
							   asp-route-minBalance="@ViewBag.MinBalance" asp-route-maxBalance="@ViewBag.MaxBalance"
							   asp-route-lastDepositMonth="@ViewBag.LastDepositMonth">
								@i
							</a>
						}
					</li>
				}

				<li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
					<a class="page-link" asp-action="Employees" asp-route-pageNumber="@(ViewBag.CurrentPage + 1)"
						asp-route-minBalance="@ViewBag.MinBalance" asp-route-maxBalance="@ViewBag.MaxBalance"
					   asp-route-lastDepositMonth="@ViewBag.LastDepositMonth"
						style="width:5rem;">
						Next
					</a>
				</li>
			</ul>
			</nav>
		</div>
	</div>

</div>
